<div class="list-group">
    {% for task_name in all_tasks %}
        {% if task_name|lower == object.name|lower %}
        <a href="{% url 'projects_deployment_create' project.pk object.pk task_name %}" class="list-group-item">
            Click here! run <b>{{ task_name }}</b>
        </a>
        {% endif %}
    {% endfor %}

    {% if object.name|lower not in all_tasks|lower %}
        <div class="list-group-item">
            <span class="badge">0</span>
            No task yet.<br/> Go to https://github.com/kduhyun/fabric-bolt-fabfile ,<br/> open fabfile.py, <br/>and add a task like this stage name.
        </div>
    {% endif %}

</div>
